/*
    General Styles
*/
.favoritecard{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    border-style: groove;
    border-width: 1px;
    padding: 0px
}
.favoritecardimg{
    padding: 0px;
    height: 100%;
    width: 100%
}
.jumbotron{
    padding: 0px;
}
.detailscarosuel{
    padding:0px;
}
.detailstext{
    padding: 5px;
}