/*
    General Styles
*/
.navbar{

}
body{


}
.map{
    width: 100%;
    height:100%;
    padding: 0px;
}
.basicdetails{
    position: absolute;
    bottom: 6%;
    z-index: 3;
}
#hide{
    visibility: hidden;
}
#show{
    visibility: visible;
}
.favoritecard{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    border-style: groove;
    border-width: 1px;
    padding: 0px
}
.favoritecardimg{
    padding: 0px;
    height: 100%;
    width: 100%
}
.jumbotron{
    padding: 0px;
}
.detailscarosuel{
    padding:0px;
}
.detailstext{
    padding: 5px;
}
.profile{
    padding: 15px;
}
.profileimagediv{
    margin: auto;
    margin-right: auto;
}
.profileimage{
    height: 100%;
    width: 70%;
    //margin: auto;
    border-radius: 75%;
}
.profileuserdiv{
    //margin: auto
}
.editProfilecard{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.footer{
    display: flex;
    flex: row
}
.bottomnav{
    font-size: 25px;
}
.checked{
    color: green
}